/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap"
//@import "bootstrap-responsive"

$screen_small: "screen and (max-width: 519px)"
$screen_middle: "screen and (min-width: 520px)"
$screen_large: "screen and (min-width: 769px)"

header
  .navbar
    .navbar-inner
      @media #{$screen_middle}
        .brand
          font-size: 32px
          line-height: 26px
          margin-left: -16px

      @media #{$screen_large}
        .brand
          font-size: 60px
          line-height: 32px
          margin-left: -16px

section#main
  @media #{$screen_small}
    padding-top: 40px
  @media #{$screen_middle}
    padding-top: 50px
  @media #{$screen_large}
    padding-top: 60px

$hover_tansition_time: 0.3s
a
  -o-transition: $hover_tansition_time
  -ms-transition: $hover_tansition_time
  -moz-transition: $hover_tansition_time
  -webkit-transition: $hover_tansition_time
  transition: $hover_tansition_time