- unless logged_in?
  %li= link_to twitter_bird_image + t(:signin), "/sign_in" #, sign_in_path
- else
  %li= link_to twitter_profile_image(@twitter_user.screen_name, size: :mini) + " " + @twitter_user.screen_name + ' Logout', logout_path