%header
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      = link_to app_name, root_path, class: :brand

      %ul.nav.pull-right
        %li= link_to image_tag("twitter-bird-light-bgs.png", size: "26x26") + t(:signin)#, sign_in_path
